@{
   
}

<hi>Edit</hi>

<form method="post">
    name:<input name="name" type="text" display="name of cheese" /><br />
    desc:<input name="desc" type="text" display="desc of cheese" /><br />
    <input type="submit" value="Edit Cheese" />
    <input type="hidden" value="@ViewBag.cheese.cheeseId" name="id" />
</form>

