@model List<CheeseMVC.Models.Cheese>


<hi>@ViewBag.Title</hi>

@if (Model.Count == 0)
{
    <p>No cheeses yet!</p>

}

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Desc</th>
        </tr>

        @foreach (var Cheese in Model)
        {
            <tr>
                 <td>@Cheese.Name</td>
                 <td>@Cheese.Desc</td>
            </tr>          

        }

        </table>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

<p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>

<p><a asp-controller="Cheese" asp-action="Edit">Edit</a></p>


